/* Reset pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Proprietà intestazione */
#logo {
    line-height: 100%;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    

}

#logo-name {
    text-align: center;
    vertical-align: middle;
    font-size: 34px;
}

/* Proprietà corpo principale */
main{
    background-color: #F6F9FA;
    padding-top: 10px;
    padding-bottom: 1px;
}

.container1{
    width: 75%;
    margin: 40px auto 10px;
    background-color: white;
    border-radius: 20px;
}

.container2{
    width: 85%;
    margin: 10px auto;
}

/* Proprietà bottoni */

.buttons {
    padding-top: 10px;
    margin-bottom: 36px;
}

.btn {
    display: inline-block;
    height: 32px;
    width: auto;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid;
}

.blue-btn{
    background-color: #45AFED;
    color: white;
    border-color: white;
}

.white-btn{
    background-color: white;
    color: #D1D4D2;
    border-color: #D1D4D2;
}

/* Proprietà liste */

.list{
    padding-bottom: 40px;
}

.title{
    padding-bottom: 8px;
    padding-top: 16px;
}

.checkbox{
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid;
    text-align: center;
    border-radius: 50%;
}

.true{
    color: green;
    border-color: green;
}

.false{
    color: red;
    border-color: red;
}

.list-item{
    padding-bottom: 16px;
}

.colored-box {
    display: inline-block;
    width: auto;
    height: 20px;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.editorial{
    background-color: #45AFED;
}

.q1-goals{
    background-color: #A073E1;
}

.recruiting{
    background-color: #67C2AC;
}

.mobile{
    background-color: #F09F33;
}

.website{
    background-color: #D4689C;
}

.sales{
    background-color: #AFC728;
}



