/* Reset pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Proprietà intestazione */
#logo {
    line-height: 100%;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 10px;

}

#logo-name {
    text-align: center;
    vertical-align: middle;
    font-size: 34px;
}

/* Proprietà corpo principale */
main{
    background-color: grey;   /* #F6F9FA */
    padding-top: 10px;
}

.container1{
    width: 75%;
    margin: 40px auto;
    background-color: white;
}

.container2{
    width: 85%;
    margin: 10px auto;
}

/* Proprietà bottoni */

.buttons {
    padding-top: 10px;
    margin-bottom: 36px;
}

.btn {
    display: inline-block;
    height: 36px;
    width: auto;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    margin: 4px;
    border-radius: 5px;
}

.blue-btn{
    background-color: #45AFED;
    color: white;
    border-color: white;
}

.white-btn{
    background-color: white;
    color: #D1D4D2;
    border-color: #D1D4D2;
}

.title{
    padding-bottom: 8px;
    padding-top: 16px;
}

